<div class="row justify-content-center py-4">
  <div class="col-md-8">
    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <div class="small text-muted mb-2"><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></div>
        <h1><%= @post.title %></h1>
        <p><%= simple_format(@post.content) %></p>
        <% if logged_in? %>
          <% if @post.user %>
            <% if current_user && current_user == @post.user %>
              <%= form_with url: post_path, method: :delete do %>
                <%= submit_tag "削除", class: "btn btn-primary" %>
              <% end %>
            <% elsif !FriendRequest.where(sender: current_user, post: @post).exists? && !current_user.friends.include?(@post.user) %>
              <%= form_with url: friend_requests_path, method: :post do %>
                <%= hidden_field_tag :post_id, @post.id %>
                <%= button_tag type: "submit", class: "btn btn-primary px-4 hover-scale" do %>
                  フレンドリクエストを送る
                <% end %>
              <% end %>
              <div class="alert alert-info small mt-3" role="alert">
                リクエストが承認されると、このユーザーの他の投稿を見ることができます！
              </div>
            <% elsif current_user.friends.include?(@post.user) %>
              <%= link_to "#{@post.user.name}の投稿", user_path(@post.user), class: "btn btn-outline-primary rounded-pill px-4" %>
            <% else %>
              <span class="badge bg-secondary rounded-pill px-4 py-2">リクエスト済み</span>
            <% end %>
          <% else %>
            <span class="badge bg-secondary rounded-pill px-4 py-2">匿名ユーザーによる投稿</span>
          <% end %>
        <% else %>
          <div class="alert alert-info small" role="alert">
            <%= link_to "ログイン", login_path %>するとフレンドリクエストを送ることができます。<br>
            リクエストが承認されると、このユーザーの他の投稿を見ることができます！
          </div>
        <% end %>
      </div>
    </div>
    <% if logged_in? && current_user.admin? %>
      <%= form_with url: post_path, method: :delete do %>
        <%= submit_tag "削除(管理者)", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <%# <div class="card mt-4"> %>
    <%# <div class="card-body"> %>
      <%# <h5 class="card-title">コメントを追加</h5> %>
      <%# <%= form_with model: [ @post, @post.comments.build ], local: true do |form| %> %>
        <%# <div class="form-group"> %>
          <%# <%= form.label :content, "コメント" %> %>
          <%# <%= form.text_area :content, class: "form-control", rows: 3 %> %>
        <%# </div> %>
        <%# <div class="form-group mt-3"> %>
          <%# <%= form.submit "送信", class: "btn btn-primary" %> %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# </div> %>
</div>
